body {
    background: url(http://images.fandango.com/images/fandangoblog/hogwartsschoolpotter.jpg);
    text-align: center;
}

h1 {
    font-family: 'Henny Penny', cursive;
    font-size: 42pt;
    text-decoration: underline;
    margin-top: 15px;
    text-align: center;
}

.button-div {
    text-align: center;
}

#start-button {
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

#startScreenImage {
    width: 300px;
}

.game-body {
    background-color: rgb(165, 222, 248);
    margin-top: 200px;
    padding: 15px 0;
    border-radius: 10px;
}

h3 {
    margin: 65px 0 5px 0px;
}

h3, h2 {
    text-align: left;
}

.shiny {
    background-image: -webkit-linear-gradient(left, white 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, white 75%);
    background-image: linear-gradient(90deg, white 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, white 75%);
    background-position: right center;
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    transition: color 200ms linear;
    font: 16pt bold;
    padding: 0 10px;
    margin: 25px 0px 30px 0px;
    text-align: center;
}
  
  .shiny:hover {
    background-position: left center;
    color: #ef9671;
    transition: background-position 2000ms ease-out;
    cursor: pointer;
  }

  .shiny:active {
    transform: translateY(4px);
}

#correctedAnswer, #answerMessage {
    margin-bottom: 10px;
    text-align: center;
    font-size: 14pt;
}


#resultsMessage, #correctAnswers, #incorrectAnswers, #unanswered, #gif {
    text-align: center;
    margin-bottom: 5px;
    font-size: 14pt;
}

#replayBtn {
    cursor: pointer;
    text-align: center;
}