body {
    background: url(../images/background.jpg);
}

.game-body {
    background-color: rgb(243, 204, 74);
    margin-top: 250px;
    padding: 15px 0;
}

.game-body h1{
    text-align: center;
    margin-top: 15px;
}

.time-remaining {
    padding: 25px 0;
    text-align:center;
}

.game-question {
    padding: 15px 0;
}

.answer-boxes {
    text-align:center;
}

.answer-boxes p{
    padding: 5px 0;
}